{% extends 'base/index.html' %}

{% block page_head %} {{ title }} {% endblock %}

{% block breadcrumbs %}
    <li class="current">Dashboard</li>
{% endblock %}

{% block content %}
  {{ block.super }}
<div class="content-wrapper">
            <div class="row">
                 <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-one">
                        <h3>{{ temp_user.total_open_questions }}</h3>
                        <hr/>
                    <!-- <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                  </div> -->
                         <h5>Total # of OPEN Questions </h5>
                    </div>
                </div>

                 <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <h3>{{ temp_user.total_students }}</h3>
                        <hr/>
                         <h5>Total # of Students </h5>
                    </div>
                </div>


            <div class="row">
                <div class="col-md-8">
                      <div class='panel panel-info'>
                    <div class="panel-heading">
                        Latest Questions
                    </div>
                    <div class="panel-body">
                     <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th>Date Created</th>
                                            <th># of Responses</th>
                                            <th># of Anonymous Responses</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for q in latest_questions %}
                                        <tr>
                                            <td>{{ q.name }} </td>
                                            <td>{{ q.date }}</td>
                                            <td>{{ q.response_count }}</td>
                                            <td>{{ q.anonymous_response_count }}</td>
                                            <td><a href="{% url 'base:update_question' q.id %}" class='btn btn-default btn-xs'>view/edit</a>
                                            <a href="{% url 'base:answer_list_by_filter' mode='question' mode_id=q.id %}"  class="btn btn-xs btn-info" >list answers</a></td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                    </div>
                </div>

                <div class="col-md-8">
                     <div class="Compose-Message">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Tags
                    </div>
                    <div class="panel-body">
                        <table class='table table-condensed table-hover table-striped'>
                            <tr>
                                <th>Tag</th>
                                <th># of Questions</th>
                                <th>Actions</th>
                            </tr>

                        {% for t in tags %}
                            <tr>
                                <td>{{ t.tag }}</td>
                                <td>{{ t.tag_count }}</td>
                                <td>
                                    <a href="{% url 'base:questions_by_tag' t.tag %}" class='btn btn-info btn-xs'>list questions</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </table>
                </div>
                     </div>
                </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}


{% endblock %}