{% extends 'base/index.html' %}
{% load static %}

{% block page_head %} {{ title }} {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        <li><a type='button' href="{% url 'base:tag_list' %}">Tag List</a></li>
        <li class='current'>{{ tag }} Questions</li>
{% endblock %}

{% block content %}
  {{ block.super }}

<div class='col-md-10'>
<div class='row'>
  <div class="panel panel-default">
  <div class="panel-heading"> Questions tagged as <strong>{{ tag }}</strong> (Total count: {{ total_tag }})
  </div>
  <div class='panel-body'>
  <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope='col'>Date Created</th>
            <th scope='col'># of Answers</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for question in questions %}
          <tr>
            <td scope="row">{{ forloop.counter }} </td>
            <td class='highlight-column'>{{ question.name }}</td>
            <td>{{ question.date }}</td>
            <td>{{ question.answer_count }}</td>
            <td>
              <a class='btn btn-primary btn-sm' href="{% url 'base:answer_graph' question.id %}" class='btn btn-primary btn-sm'>view graphs</a>
              <a href="{% url 'base:answer_list_by_filter' mode='question' mode_id=question.id %}" class='btn btn-info btn-sm'>list answers</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>

  </div>
</div>
</div>
</div>

<div class='col-md-10 back'>
  <div class='row'>
    <a type='button' href="{% url 'base:tag_list' %}" class='btn btn-default btn-md'><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
  </div>
</div>





 {% endblock %}


 {% block javascript %}
    {{ block.super }}
  <script type='text/javascript'>
      tag_form = $(tag_form)
  </script>

 {% endblock %}