{% extends 'base/index.html' %}

{% block page_head %} {{ title }} {% endblock %}

{% block content %}
  {{ block.super }}

<div class='col-md-10'>
<div class="panel panel-default">
  <div class="panel-heading">Students</div>
  <div class='panel-body'>
    <div class="table-responsive">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"># of Answers</th>
          <th scope="col">Latest Question</th>
          <th scope="col">Latest Answer</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for row in object_list %}
        <tr>
          <td scope="row">{{ forloop.counter }} </td>
          <td class='highlight-column'>{{ row.name }}</td>
          <td>{{ row.count }}</td>
          <td>{{ row.latest_question }}</td>
          <td>{{ row.latest_answer }}</td>
          <td>
            {% if row.id %}
            <a class='btn btn-primary btn-sm' href="{% url 'base:answers_by_student_graph' row.id %}" class='btn btn-primary btn-sm'>view graphs</a>
            <a href='{% url "base:answers_by_student" row.id %}' type=button class='btn btn-info btn-sm'>list answers</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

        
      </tbody>
    </table>
    {% include "base/include/pagination.html" %}
    </div>
  </div>
  </div>
 {% endblock %}


 {% block javascript %}
    {{ block.super }}

 {% endblock %}